{% from 'macro.html' import render_field, render_submit %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Saby Combat</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/register_style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images-utils/favicon.ico') }}">
</head>

<body>
    <form action="" method="post" class="form-container">
        {{ form.csrf_token }}
        <div class="form-container-element-logo">
            <h2><span>Saby</span>Combat</h2>
        </div>
        <div class="form-container-element-title">
            <h2>Регистрация</h2>
        </div>
        <div class="form-container-element-title">
            <p>Создайте аккаунт, чтобы продолжить</p>
        </div>
        {{ render_field(form.email_adress) }}
        {{ render_field(form.username) }}
        {{ render_field(form.surname) }}
        {{ render_field(form.name) }}
        {{ render_field(form.patronymic) }}
        {{ render_field(form.password) }}
        {{ render_field(form.password_submit) }}
        {{ render_submit(form.submit) }}
        <div class="form-container-element-login">
            <p>Уже есть аккаунт? <a href="{{url_for('login_page')}}"> Войти</a></p>
        </div>
    </form>
</body>

</html>
