{% extends 'base.html' %}

{% block content %}
<table>
    <tr>
        <th>Name</th>
        <th>Value</th>
        <th>Income</th>
        <th>Currently active</th>
        <th>Buy</th>
    </tr>
    <tr>
        <td>Рычаг</td>
        <td>10</td>
        <td>1/hour</td>
        <td>5</td>
        <td><button>Buy</button></td>
    </tr>
    <tr>
        <td>Велосипед с генератором</td>
        <td>100</td>
        <td>11/hour</td>
        <td>3</td>
        <td><button>Buy</button></td>
    </tr>
    <tr>
        <td>Водная мельница</td>
        <td>1000</td>
        <td>111/hour</td>
        <td>2</td>
        <td><button>Buy</button></td>
    </tr>
    <tr>
        <td>Электростанция</td>
        <td>10k</td>
        <td>1.1k/hour</td>
        <td>0</td>
        <td><button>Buy</button></td>
    </tr>
</table>
{% endblock %}