{% extends 'base.html' %}

{% block content %}

    <h1>Магазин улучшений</h1>
    <div id="upgrades-container"></div>

    <script>
        $(document).ready(function() {
            const userId = {{ user_id }};

            $.ajax({
            url: '/api/user_upgrades',
            type: 'get',
            data:{
                user_id: userId
            },
            success: function(response){
                response.data.forEach(upgrade => {
                    const upgradeElement = `
                        <div class="upgrade">
                            <h2>${upgrade.upgrade_name}</h2>
                            <p>Цена: ${upgrade.purchase_cost}</p>
                            <button onclick="buyUpgrade(${userId}, ${upgrade.id})">Купить</button>
                        </div>
                        `;
                    $('#upgrades-container').append(upgradeElement);
                });
            },
            error: function(xhr) {
                console.error('Ошибка да сколько можно');
            }
            });

            window.buyUpgrade = function(userId, upgradeId) {
                let params = $.param({
                    user_id: userId,
                    upgrade_id: upgradeId
                });

                $.ajax({
                    url: '/api/user_upgrades?' + params,
                    type: 'post',
                    success: function(response) {
                        console.log(response);
                    },
                    error: function(jqXHR, textStatus, errorThrown) {
                        console.error('Ошибка: ' + textStatus, errorThrown);
                    }
                });
            };
        });
    </script>

{% endblock %}