{% extends 'base.html' %}

{% block content %}
    <form action="/auth" method="post">

    <label for="email">Email: </label>
    <input type="text" id="email" name="email"/>

    <label for="login">Login: </label>
    <input type="text" id="login" name="login"/>

    <label for="password">Password: </label>
    <input type="password" id="password" name="password"/>

    <label for="confirm_password">Password: </label>
    <input type="password" id="confirm_password" name="confirm_password"/>

    <button type="submit">Войти</button>
</form>
{% endblock %}
